<%- include('../layout/head.ejs', { title: 'Изменить пароль' }); %>

<% const fields = [
    {
        id: 'oldPassword',
        type: 'password',
        label: 'Старый пароль',
        error: 'Введите пароль',
        inputName: 'oldPassword',
        required: true
    },
    {
        id: 'newPassword',
        type: 'password',
        label: 'Новый пароль',
        error: 'Введите пароль',
        inputName: 'newPassword',
        required: true
    },
    {
        id: 'password-repeat',
        type: 'password',
        label: 'Повторите пароль',
        error: 'Пароли не совпадают',
        inputName: 'password-repeat',
        required: true
    }
] %>

<% const changeUserPassword = {
    title: 'Сохранить',
    type: 'submit',
    className: 'btn default _low-margin'
} %>

<main>
    <div class="auth _profile">
        <form class="auth__form">
            <div class="auth__photo">
                <%- include('../modules/default-avatar.ejs')%>
            </div>
            <h1 class="auth__title">Иван</h1>
            <%- include('../modules/field.ejs', { fields }); %>
            <%- include('../modules/btn.ejs', { btn: changeUserPassword }); %>
        </form>
    </div>
</main>

<%- include('../layout/foot.ejs'); %>
