<%- include('../layout/head.ejs', { title: 'Изменить данные' }); %>

<% const fields = [
    {
        id: 'email',
        type: 'email',
        label: 'Почта',
        error: 'Введите почту',
        inputName: 'email',
        required: true
    },
    {
        id: 'login',
        type: 'text',
        label: 'Логин',
        error: 'Введите логин',
        inputName: 'login',
        required: true
    },
    {
        id: 'firstname',
        type: 'text',
        label: 'Имя',
        error: 'Введите имя',
        inputName: 'first_name',
        required: true
    },
    {
        id: 'lastname',
        type: 'text',
        label: 'Фамилия',
        error: 'Введите фамилию',
        inputName: 'second_name',
        required: true
    },
    {
        id: 'tel',
        type: 'tel',
        label: 'Телефон',
        error: 'Введите телефон',
        inputName: 'phone',
        required: true
    }
] %>

<% const changeUserPassword = {
    title: 'Сохранить',
    type: 'submit',
    className: 'btn default _low-margin'
} %>

<main>
    <div class="auth _profile">
        <form class="auth__form">
            <div class="auth__photo">
                <%- include('../modules/default-avatar.ejs')%>
            </div>
            <h1 class="auth__title">Иван</h1>
            <%- include('../modules/field.ejs', { fields }); %>
            <%- include('../modules/btn.ejs', { btn: changeUserPassword }); %>
        </form>
    </div>
</main>

<%- include('../layout/foot.ejs'); %>
