<% if (btn.tagName === 'link') { %>
    <a href="<%- btn.href %>" class="<%- btn.className %>"><%- btn.title %></a>
<% } else { %>
    <button type="<%- btn.type %>" class="<%- btn.className %>"><%- btn.title %></button>
<% } %>
