<% messages.forEach(({ text, isMedia, isYourMessage, time, isRead, src }) => { %>
    <% if (isMedia) { %>
        <img src="<%- src %>" alt="" class="message _image <%- isYourMessage ? '_your-message' : '' %>">
    <% } else { %>
        <div class="message <%- isYourMessage ? '_your-message' : '' %>">
            <p class="message__text"><%- text %></p>
            <time class="message__time <%- isRead ? '_is-read' : '' %>"><%- time %></time>
        </div>
    <% } %>
<% }) %>
